@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
	--blue: #047aed; /* primary color */
	--secondary-color: #1c3fa8;
	--dark-color: #002240;
	--light-color: #f4f4f4;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

}

body {
	font-family: 'Lato', sans-serif;
	color: #333;
	line-height: 1.6;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #333;
}

h1, h2 {
	font-weight: 300;
	line-height: 1.2;
	margin: 10px 0;
}

p {
	margin: 10px 0;
}

img {
	width: 100%;
}

/* Navbar */
.navbar {
	background-color: var(--blue);
	color: #fff;
}

.navbar .flex {
	justify-content: space-between;
}

.navbar ul {
	display: flex;
}

.navbar a {
	color: #fff;
	padding: 10px;
	margin: 0 5px;
}

.navbar a:hover {
	border-bottom: 2px solid #fff;
}

/* Showcase */
.showcase {
	position: relative;
	height: 400px;
	color: #fff;
	background-color: var(--blue);
}

.showcase::before, .showcase::after {
	content: "";
	position: absolute;
	height: 100px;
	bottom: -70px;
	right: 0;
	left: 0;
	background: white;
	transform: skewY(-3deg);
	-webkit-transform: skewY(-3deg);
	-moz-transform: skewY(-3deg);
	-ms-transform: skewY(-3deg);
}

.showcase .grid {
	grid-template-columns: 55% 45%;
	gap: 30px;
	overflow: visible;
}

.showcase h1 {
	font-size: 40px;
}

.showcase p {
	margin: 20px 0;
}

.showcase-form {
	position: relative;
	top: 60px;
	height: 350px;
	width: 400px;
	padding: 40px;
	z-index: 100;
	justify-self: flex-end;
}

.showcase-form .form-control {
	margin: 30px 0;
}

.showcase-form input[type='text'], 
.showcase-form input[type='email'] 	{
	border: 0;
	border-bottom: 1px solid #b4becb;
	width: 100%;
	padding: 3px;
	font-size: 16px;
}

.showcase-form input:focus {
	outline: none;
}

/* Stats */
.stats {
	padding-top: 100px;
}

.stats-heading {
	max-width: 500px;
	margin: auto;
}

.stats .grid h3 {
	font-size: 32px;
}

.stats .grid p {
	font-size: 20px;
	font-weight: bold;
}

/* CLI */
.cli .grid {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
	grid-column:  1 / span 2;
	grid-row:  1 / span 2;
}

/* Cloud */
.cloud .grid {
	grid-template-columns: 4fr 3fr;
}

.footer .social a {
	margin: 0 10px;
}